.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem 9.7rem 2rem 9.6rem;
}

.header nav {
	margin-left: auto;
	display: flex;
	gap: 4rem;
}

.header button {
	margin-left: 6.33rem;
}

.header__btn-dropdown {
	margin-left: auto;
}

@media screen and (max-width: 1000px) {
	.header {
		padding: 2.8rem 1.6rem;
	}
}
