.hero__container {
	display: inline-flex;
	flex-direction: row;
	gap: 4rem;
<<<<<<< HEAD
	width: 100%;
=======
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}

.hero__btns {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1.6rem;
	margin-bottom: 5.4rem;
}

.hero__first {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 4rem;
<<<<<<< HEAD
	flex: 1 1 0;
	max-width: 61rem;
=======
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}

.hero__second {
	display: flex;
	flex-direction: row;
	gap: 2.3rem;
<<<<<<< HEAD
	flex: 1 1 0;
}

@media screen and (max-width: 1000px) {
	.hero__container {
		flex-direction: column;
	}
}

@media screen and (max-width: 1000px) {
	.hero__btns {
		flex-direction: column;
	}
	.hero__btns button {
		width: 100%;
	}
=======
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}
