.hero__call {
	display: grid;
	grid-template-rows: 1fr 1fr;
	flex-direction: column;
	row-gap: 3.3rem;
<<<<<<< HEAD
	max-width: 19rem;
=======
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}

.call__img {
	position: relative;
	border-radius: 1.6rem;
	background: var(--color-grey-400);
<<<<<<< HEAD
	overflow: visible;
}

.hero__wrapper {
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: 100%;
=======
	overflow-y: visible;
	width: 100%;
}

.hero__wrapper {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}

.call__img img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
<<<<<<< HEAD
=======
	scale: 1.4;
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}

.call__img div:nth-child(2) {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 10%;
	left: 50%;
	border-radius: 50%;
	background: var(--color-white-100);
	translate: -50% 0;
	width: 50px;
	height: 50px;
}

.call__description {
<<<<<<< HEAD
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--color-blue-200);
	border-radius: 1.6rem;
	padding: 2.9rem 2.4rem 2.5rem;
	max-height: 19rem;
}

.call__description button {
	width: 100%;
	font-family: Poppins;
	font-size: 1.2rem;
	font-weight: 500;
}

.description__title,
.description__date {
	text-align: center;
	font-feature-settings: "clig" off, "liga" off;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 120%; /* 1.92rem */
}

.description__description {
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 0.4rem;
}

.description__date {
	font-size: 1.2rem;
=======
	background: var(--color-blue-200);
	border-radius: 1.6rem;
>>>>>>> e9488107f3a04cfed3d50d90ed6d6783c3ba293f
}
